
/* Popup overlay */
.popup-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10000;
}

/* Popup */
.popup {
	position: relative;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
	z-index: 10001;
	padding-top: 5px;
	max-width: 260px;
	height: 250px;
	width: 100%;
	margin: 30px auto;
	background: #fff;
}

.popup .popup-content {
	margin-top: 15px;
	max-height: 250px;;
}

/* Popup close */
.popup .close {
	position: absolute;
	right: -13px;
	top: -13px;
	cursor: pointer;
	background-color: #000;
	border: 2px solid #fff;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 26px;
	font-size: 20px;
	width: 30px;
	height: 30px;
	z-index: 10;
}

.popup .close:hover {
	text-decoration: none;
}

/* Heading */
.popup h4 {
	text-align: center;
	font-size: 24px;
	margin: 0 auto 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 28px;
	color: #222;
}

/* Input, validation errors */
.popup input, .popup .validation-errors {
	display: block;
	width: 100%;
}

.popup input {
	padding: 13px;
	margin: 0 auto;
	box-sizing: border-box;
}

.popup input::-webkit-input-placeholder {
	color: #919191;
}

.popup input::-moz-placeholder {
	color: #919191;
}

.popup input:-ms-input-placeholder {
	color: #919191;
}

.popup input::placeholder {
	color: #919191;
}

.popup .validation-errors {
	display: none;
	margin: 4px auto 0;
}

.popup .error {
	color: #e35050;
}

.popup input[type=text] {
	border: 1px solid #C9D7DD;
	background: #fff;
	font-size: 16px;
}

.popup input[type=text].error {
	color: #e35050;
	border-color: #e35050;
}

/* Popup copy */
.popup-copy {
	display: inline-block;
	margin-left: 45px;
	max-width: 320px;
	max-height: 215px;
	width: 100%;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
 
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


/* Responsive */
@media screen and (max-width: 570px) {
	.popup {
		max-width: 100%;
		width: 94%;
	}
	.popup .popup-content {
		padding-left: 10px;
		padding-right: 10px;
	}
	.popup .popup-image, .popup .popup-copy {
		display: block;
		max-width: 470px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.popup .popup-image {
		text-align: center;
	}
	.popup .popup-copy {
		margin-top: 25px;
	}
	.popup {
		width: 92%;
	}
}