@import url('https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script|Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');

/*Header*/

.header__img {
width: 60px;
height: 60px;
}

.navbar-fixed-top.scrolled {
    background-color: rgb(242, 222, 222)!important;
}

nav {
    background-color: transparent !important;
    border: 0!important;
    padding: 20px;
    font-family: 'Raleway';
    font-weight: 700;
}
#myNavbar .nav__li {
    margin: 0 10px 0 0;
}
.nav__li a {
    color: rgb(0, 0, 0) !important;
}

.nav__li a:hover {
    background-color: transparent !important;
    color: rgb(0, 0, 0) !important;
    border-top: 1px solid rgb(237, 22, 82);
}

.nav__li a:active {
    /* Style for "active" */
    color: rgb(0, 0, 0);
    border-top: 3px solid rgb(237, 22, 82);
    transition-duration: 1s !important;
    transition-timing-function: ease-in-out;
}

.navbar-default .navbar-nav>.active>a {
    background:rgba(237, 22, 82, 0.2) !important;
    border-radius: 100px;
    color: rgb(255,255,255) !important;
    border-color: transparent; /* remove the border's colour */
    box-shadow: 0 0 0 1px rgba(237, 22, 82, 0.2); /* emulate the border */
  }

.header {
    height: auto;
    min-height: 800px;
    background: rgb(255, 255, 255);
    padding-bottom: 100px;


}

.header {
    background: none;
}

.header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(images/logs/logo-trans2.png) no-repeat center center;
    background-size: cover;
    opacity: 0.12;
}

/*Main*/

.container1 {
    padding-top: 250px;
}


.main__h1 {
    font-size: 60px;
    font-family: 'Marck Script', cursive;
}

.main__p {
    font-size: 25px;
}

.main__hour {
    color: rgb(237, 22, 82);
    font-weight: 800;
}

.main__social__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
}

.main__social__icons a i:hover {
    transform: scale(1.5);
    transition: 1s;
    text-decoration: none;
}

.fab {
    padding: 10px;
}

/*About us*/

.row2 {
    padding-top: 120px;
    padding-bottom: 100px;
}

#about_us {
    background: #d88d94;
    font-family: 'Raleway';
}

.about__us__h2 {
    font-family: 'Petit Formal Script', cursive;
    font-weight: 600;
    font-size: 90px;
}

.about__us_p {
    font-weight: 500;
}

.about_us__img {
    border-radius: 100%;
}


/*Gallery*/

#gallery {
    font-family: 'Raleway';
    background-color: #F8A9b1;
}

.gallery__h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 90px;
    font-weight: 600;
    padding-top: 50px;
}

.row3 {
    padding: 40px 0;
}

#gallery .row img {
    padding-bottom: 15px;
}

.gallery__container1 {
    display: flex;
    justify-content: center;
}

.gallery__btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.btn1 {
    padding: 10px;
}

.gallery__btn__span {
    font-size: 20px;
}

.gallery__h3 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 70px;
}

.row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}


/*contact*/

#contact {
    min-height: 800px;
    height: auto;
    background: rgba(207, 135, 145, 0.6)
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.contact1__h2{
    padding-top: 100px;
    font-size: 60px;
    font-family: 'Raleway';
}
.contact__h2{
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Raleway';
}
.contact__ul{
    list-style: none;
    padding-left:0;
}

.btn2 {
    padding: 10px;
}

/*footer*/

.footer__down {
    /* Style for "bg-foodter" */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    min-height: 90px;
    height: auto;
    text-decoration: none;
}
.footer_down a:active{
    text-decoration: none;
}
.footer_p {
    /* Style for "© 2015 Com" */
    padding-top: 35px;
    color: rgb(0,0,0);
    font-size: 16px;
    font-weight: 300;
}

.footer_span {
    color: rgb(255, 43, 88);
    padding-left: 5px;
    padding-right: 5px;
}

.footer__img {
    width: 25%;
    height: 10%;
    padding-top:5px;
    text-decoration: none;
}

.footer__fbinst{
    padding-top: 20px;
    font-size: 30px;
}

.footer__a:hover {
    text-decoration: none;
    opacity: 0.8;
}
.footer__a1:hover{
    text-decoration: none;
}
